.navbar {
  background-color: #11111b; /* Catppuccin Mocha - Crust */
  padding: 20px 30px; /* Increased padding */
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 50px; /* Increased margin */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 50px; /* Increased gap */
}

.navItem a {
  color: #b4befe;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1em;
  transition: color 0.2s ease-in-out;
}

.navItem a:hover {
  color: #cdd6f4;
}
